<table mat-table [dataSource]="appointments" class="mat-elevation-z2 appointment-table">
  <ng-container matColumnDef="Fecha cita">
    <th mat-header-cell *matHeaderCellDef> Fecha cita </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.appointmentDate}} </td>
  </ng-container>
  <ng-container matColumnDef="Hora cita">
    <th mat-header-cell *matHeaderCellDef> Hora cita </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.appointmentHour}} </td>
  </ng-container>
  <ng-container matColumnDef="Doctor">
    <th mat-header-cell *matHeaderCellDef> Doctor </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.nameDoctor}} </td>
  </ng-container>
  <ng-container matColumnDef="Paciente">
    <th mat-header-cell *matHeaderCellDef> Paciente </th>
    <td mat-cell *matCellDef="let appointment"> {{appointment.namePatient}} </td>
  </ng-container>
  <ng-container matColumnDef="Opciones">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let appointment">
      <a class="btn-edit" [routerLink]="['editar',appointment.idAppointment]" mat-raised-button>Editar</a>
      <button mat-raised-button color="warn" (click)="deleteAppointment(appointment.idAppointment)">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<a mat-raised-button color="primary" class="appointment-new"
  routerLink="nuevo">
  Nuevo registro
</a>